// カラー
$text: #232323;
$primary: #3bb2a3;
$accent: #dd6743;
$headingText: #4b5654;
$outline: #4b5654;
$line: #afafaf;
$cushion: #f2f2f2;
$footer: #4b5654;

// リセット・上書き
body,
html {
  font-family: 'Montserrat', 'Noto Sans JP', 'Zen Kaku Gothic Antique',
    sans-serif !important;
  color: $text;
  line-height: 1.8em !important;
  letter-spacing: 0.05em !important;
}

a {
  color: $text !important;
  text-decoration: none !important;
}

.width-50 {
  width: 50%;
}

.container {
  width: 95%;
  max-width: 1700px;
  margin: 0 auto;
}

.text-white {
  color: #ffffff !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.letter-space-015em {
  letter-spacing: 0.15em !important;
}
.letter-space-02em {
  letter-spacing: 0.2em !important;
}
.letter-space-03em {
  letter-spacing: 0.3em !important;
}

.line-height-25em {
  line-height: 2.5em;
}

.bold {
  font-weight: 600 !important;
}

.zen-kaku-gothic {
  font-family: 'Zen Kaku Gothic Antique', sans-serif !important;
}

.montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.no-wrap {
  white-space: nowrap;
}

.icon {
  width: 24px;
}

.orange_line {
  background: rgba(0, 0, 0, 0)
    linear-gradient(transparent 60%, rgba($accent, 0.3) 0%) repeat scroll 0 0;
}

.v-icon {
  color: $primary;
}

.v-list-item--active .v-list-item__title,
.v-list-item--active .v-icon,
.v-item--active .v-icon,
.v-list-item[aria-expanded='true'],
.v-list-item[aria-expanded='true'] .v-icon {
  color: $accent !important;
}
