// カラー
$text: #232323;
$primary: #3bb2a3;
$accent: #dd6743;
$headingText: #4b5654;
$outline: #4b5654;
$line: #afafaf;
$cushion: #f2f2f2;
$footer: #4b5654;
$category: #cc2929;
$feature: #c97061;
$suggest: #579b8f;
$catalog: #c19c49;
$sns: #638bba;
$sales: #af69aa;

body,
html {
  font-family: 'Montserrat', 'Noto Sans JP', 'Zen Kaku Gothic Antique',
    sans-serif !important;
  color: $text !important;
  line-height: 1.8em !important;
  letter-spacing: 0.05em !important;
}

a {
  color: $text !important;
  text-decoration: none !important;
}

// 共通css
.width-50 {
  width: 50%;
}

.container {
  width: 95% !important;
  max-width: 1700px !important;
  margin: 0 auto !important;
}

.text-white {
  color: #ffffff !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.letter-space-015em {
  letter-spacing: 0.15em !important;
}
.letter-space-02em {
  letter-spacing: 0.2em !important;
}
.letter-space-03em {
  letter-spacing: 0.3em !important;
}

.line-height-25em {
  line-height: 2.5em !important;
}

.bold {
  font-weight: 600 !important;
}

.zen-kaku-gothic {
  font-family: 'Zen Kaku Gothic Antique', sans-serif !important;
}

.montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.no-wrap {
  white-space: nowrap !important;
}

.icon {
  width: 24px !important;
}

.orange_line {
  background: rgba(0, 0, 0, 0)
    linear-gradient(transparent 60%, rgba($accent, 0.3) 0%) repeat scroll 0 0 !important;
}

.hover-opacity:hover {
  opacity: 0.75 !important;
}

.rotate-90 {
  transform-origin: center center;
  transform: rotate(-90deg);
}

// vuetifyのcssを上書き
.v-application {
  font-family: 'Montserrat', 'Noto Sans JP', 'Zen Kaku Gothic Antique',
    sans-serif !important;
  color: $text !important;
  line-height: 1.8em !important;
  letter-spacing: 0.05em !important;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-body-1,
.text-body-2 {
  font-family: 'Montserrat', 'Noto Sans JP', 'Zen Kaku Gothic Antique',
    sans-serif !important;
}

.v-btn {
  text-transform: none !important;
}

.v-icon {
  color: $primary;
}

.v-list-item--active .v-list-item__title,
.v-list-item--active .v-icon,
.v-item--active .v-icon,
.v-list-item[aria-expanded='true'],
.v-list-item[aria-expanded='true'] .v-icon {
  color: $accent !important;
}
