@import 'assets/css/common.scss';

.siyou {
  width: 100% !important;
  border-collapse: collapse;
  border-spacing: 0;
  color: $text !important;
  overflow-x: scroll;
}

.siyou th, .siyou td {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.siyou > tbody > tr > th {
  background: $cushion;
  text-align: center;
  vertical-align: middle;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  color: $text;
}

.siyou > tbody > tr > td {
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  color: $text;
}

// 旧レンタルページで画像サイズがはみ出る可能性あり
// 他に支障きたす場合、コメントアウトも考える
img {
  max-width: 100% !important;
  height: auto;
}